@import "../../scss/variables";
.test {
  font-size: 26px;
  padding: 10px 15px;
  background-color: lightgreen;
  text-align: center;
  margin: 15px;
  text-transform: uppercase;
  background-color: $gray;
}